<div class="panel panel-default">
  <div class="panel-body">
    <h4>Add new place!</h4>

    {{#em-form action="savePlace" model=model}}
      {{em-input label="name" property="name"}}
      {{em-input label="description" property="description"}}
      {{em-input label="address" property="address"}}
    {{/em-form}}

  </div>
</div>
