<div class="panel panel-default new-place-panel-inner">
  <div class="panel-body">
    <h4>Add new place!</h4>

    {{#em-form action="savePlace" model=model}}
      {{em-input label="name" property="name"}}
      {{em-input label="description" property="description"}}
      {{em-input label="address" property="address"}}
      <div class="form-action">
        {{link-to "cancel" "places.index" class="btn btn-default" activeClass=false}}
      </div>
    {{/em-form}}

  </div>
</div>
