<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      {{outlet}}
      {{#unless hideButton}}
        {{link-to "Add new place" "places.index.new" class="btn btn-primary"}}
      {{/unless}}
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Places index</h4>
        </div>
      </div>

      {{#each place in model}}
        {{#unless place.isNew}}
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>{{place.name}}</h4>
              <h5>description:</h5>
              <p>{{place.description}}</p>
            </div>
          </div>
        {{/unless}}
      {{/each}}

    </div>
  </div>
</div>
